
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 1px dotted #a52a2a;
    background-image: url("../../assets/e044ba95d0951b17bca5fb9b0b3f4e8b.jpg");
    background-repeat: no-repeat;
    background-position: 15% bottom;
    background-size: cover;
    transition:  transform .5s ease-in-out;
}
.scroll{
    position: absolute;
    bottom: 0;
}
.form{
    width: 80%;
    height: 55%;
    border-radius: 15px;
    background: linear-gradient(135  , rgba(255,255, 255, 0.1 , rgba(255, 255, 255, 0))) ;
    backdrop-filter: blur(10px);
    margin: auto;
    place-content: center;
    box-shadow: 0px 8px 32px 5px rgba(0,0,0,0.37) ;
}
h1{
    text-align: center;
    padding: 15px;
    color: rgb(37, 53, 40);
    
}
form{
    /* background-color: red; */
    margin: 30px 0;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
label{
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: 500;
}
input, select{
    padding: 10px;
    margin: 2px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    width: 100%;
    outline: none;
    
    /* box-shadow: 2px 2px 5px rgba(55, 55, 55, 0.514);     */
}

form > div{
    display: flex;
    flex-direction: column;
}
form > button{
    padding: 6px 8px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    margin-top: 8px;
    cursor: pointer;
}

.reset{
    color: rgb(27, 27, 76);
    padding-top: 10px;
    text-align: center;
}

.loginBtn{
    color: rgb(11, 60, 11);
    padding: 8px 15px;
    box-shadow: 2px 2px 5px rgba(48, 48, 48, 0.48);
}
/* notice section  */

@media screen and (min-width: 600px ) and (max-width: 767px) {
    /* tablets */
    .container{
        background-position: left bottom;
    }
}
@media  screen and (min-width: 768px) and (max-width: 1023px ) {
    /* laptops and big device */
    .form{
        width: 70%;
        height: 55%;
    }
    h1{
        font-size: 50px;
    }
}
@media  screen and (min-width: 1024px) {
    /* desktopa */
    h1{
        color: rgb(95, 59, 100);
    }
    .form{
        width: 30%;
        backdrop-filter: none;
        background:transparent;
        float: right;
        box-shadow: none;
        position: relative;
        left: 30%;
    }
    .loginInput:focus, .loginInput:active{
        background-color: transparent;
        background: linear-gradient(135  , rgba(255,255, 255, 0.1 , rgba(255, 255, 255, 0)));
    }
    .loginInput{
        fill: none;
        background: linear-gradient(135  , rgba(255,255, 255, 0.1 , rgba(255, 255, 255, 0)));
        backdrop-filter: blur(10px);
        box-shadow: 0px 8px 32px 5px rgba(0,0,0,0.37) ;
    }

}