table{
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
thead{
    background-color: rgba(224, 224, 221, 0.508);
    color: rgb(41, 39, 39);
}
.even{
    background-color: #3741569b;
    color: rgb(216, 203, 203);
}
.odd{
    background-color: #b33b3b8e;
    color: rgb(0, 0, 0);
}
th{
    padding: 0 15px;
    font-size: 19px;
}
h2{
    padding: 10px 0;
}
td{
    font-size: 18px;
    font-weight: 500;
}
td> button{
    width: 100%;
    background: none;
    padding: 2px;
    border: none;
    cursor: pointer;
}

.add{
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(12, 132, 231);
    color:white;
    border: none;
}
