table{
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
thead{
    background-color: rgba(224, 224, 221, 0.508);
    color: rgb(41, 39, 39);
}
.even{
    background-color: #3741569b;
    color: rgb(216, 203, 203);
}
.odd{
    background-color: #b33b3b8e;
    color: rgb(0, 0, 0);
}
thead > tr > th{
    padding: 10px;
}
.tbody > tr > td {
    padding: 10px;
}
button{
    padding: 5px;
    color: white;
    cursor: pointer;
    border: none;
    margin: 2px;
    border-radius: 5px;
}
.solved{
    color: green;
}
.pending{
    color: red;
}
.solvedBtn{
    background-color: green;
    cursor: not-allowed;
}
.pendingBtn{
    background-color: red;
}
.red{
    background-color: rgb(223, 82, 82);
}

#complain{
    border-radius: 10px;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}
#complain :focus{
    outline: none;
}
.complainform{
    position: relative;
    width: 70%;
    margin: auto;
}

.complainbtn{
    width: fit-content;
    position: absolute;
    bottom: 20px;
    right: 10px;

}
.label{
    text-align: left;
}