button{
    padding: 5px;
    color: white;
    cursor: pointer;
    border: none;
    margin: 2px;
    border-radius: 5px;
}
.solved{
    color: green;
}
.pending{
    color: red;
}
.solvedBtn{
    background-color: green;
    cursor: not-allowed;
}
.pendingBtn{
    background-color: red;
}
.red{
    background-color: rgb(223, 82, 82);
}