
#classSelect{
    padding: 10px;
    margin: 5px 10px;
    font-size: 18px;
}
.action{
    width: 10%;
}

.input-container > select{
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

.selectBox{
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 15px;
    /* margin-left: 15px; */
    font-size: 16px;
}
.classSelect{
    margin-right: 15px;
}
.selectOption{
    padding: 10px;
    gap: 10px;
    
}
.paginationPart{
    position: absolute;
    bottom: 10px;
    width: 100%;
}
