.notice{
    width: 90%;
    margin: auto;
    margin-top: 24px;
    background-color: #87d3a8;
    padding: 15px;
    border-radius: 10px;
}
.notices{
    padding-top: 10px;
}
.heading{
    border-bottom: 2px solid black;
    padding: 5px;
}
.eachNotice{
    display: flex;
    padding: 10px 0;
    gap: 15px;
}
.date{
    text-align: center;
    width: 12%;
    padding: 3px;
    margin-right: 10px;
}
.details{
    padding-left: 15px;
    border-left: 2px solid black;
}