.notice{
    width: 90%;
    margin: auto;
    margin-top: 24px;
    background-color: #37244163;
    backdrop-filter: blur(10px);
    box-shadow: 2px 5px 20px 8px rgba(0, 0, 0, .37);
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    padding: 15px;
    border-radius: 10px;
    color: rgba(237, 229, 229, 0.935);
}
.notices{
    padding-top: 10px;
}
.heading{
    border-bottom: 1px solid rgb(165, 193, 196);
    padding: 5px;
}
.eachNotice{
    display: flex;
    padding: 10px 0;
    gap: 15px;
}
.date{
    text-align: center;
    width: 12%;
    padding: 3px;
    margin-right: 10px;
}
.details{
    padding-left: 15px;
    border-left: 2px solid black;
}