.marksheet{
    background-color: rgb(143, 137, 137);
    width: 100%;
    min-height: 75vh;
    
    padding: 10px;
    margin-top: 10px;
    border: 6px double gray;
    text-align: center;
}

.term{
    border: 2px solid black;
}

.detail{
    text-align: left;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}
.detail > span{
    padding-right: 50px;
}

@media print {
    
    select, button{
        display: none;
    }
    .marksheet{
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

.filterResult{
    display: flex;
}
.filterResult > button{
    color: black;

}