.image_section{
    width: 100%;
    height: 30vh;
    position: relative;
}

.profile_picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.change_pic{
    position: absolute;
     bottom: 0; 
     left: 50%; 
     display: none;
}
.image_edit_icon{
    position: absolute;
    /* background-color: red; */
    cursor: pointer;
    top: 85%;
    left: 55%;
    z-index: 10;

}
.icon{
    cursor: pointer;
}

.image_edit_icon:hover .change_pic {
    display: block;
}
.general_info{
    text-align: center;
}

.details-container{
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}
.details-container div:nth-child(1){
    width: 40%;
    text-align: left;
    color: rgb(52, 51, 51);
}
.details-container  div:nth-child(2){
    width: 60%;
    text-align: left;
}