.image_section{
    width: 100%;
    height: 30vh;
    position: relative;
    margin: auto;
}
.profileparent{
    position: relative;
    margin: auto;

    transition: opacity .5s ease-in-out , height .5s ease-in-out;
}
.profile_picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}
.change_pic{
    position: absolute;
     bottom: 0; 
     left: 50%; 
     display: none;
}
.image_edit_icon{
    position: absolute;
    cursor: pointer;
    top: 75%;
    left: 54%;
    z-index: 4;

}
.icon{
    cursor: pointer;
}

.image_edit_icon:hover .change_pic {
    display: block;
}
.general_info{
    text-align: center;
    margin: auto;
    /* background-color: rgba(0, 0, 0, 0.208); */
}
.general_info > div{
    margin: auto;
    margin-bottom: 10px;
}

.details-container{
    width: 100%;
    /* background-color: red; */
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}

@media screen and (min-width : 1000px) {
    .details-container{
        width: 70%;
        margin: 10px auto;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 500;
    }
}
.details-container div:nth-child(1){
    width: 40%;
    text-align: left;
    color: rgb(255, 255, 255);
}
.details-container  div:nth-child(2){
    width: 60%;
    text-align: left;
}
.change_profile,.change_password{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    padding-bottom: 10px;
    z-index: 10;
    width: 350px;
    border-radius: 10px;
    text-align: center;
}
.foram{
    margin: 0;
}
.btncollection{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.show{
    opacity: 1;
    height: 340px;

    background-color: rgba(112, 103, 103, 0.773);
    /* background-color: red; */
    backdrop-filter: blur(15px);
}
.submit{
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(39, 215, 71);
    color: rgb(0, 0, 0);
    border: none;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.previewImage{
    width: 150px;
    height: 150px;
    z-index: -1;
    opacity: .5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.cancel{
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(210, 49, 49);
    color: white;
    border: none;
    margin-top: 10px;
    margin-bottom: 5px;
}
.uploadLabel{
    position: relative;
}
.input{
    display: grid;
    place-content: center;
    height: 50%;
    margin: 25px;
    border-radius: 15px;
    position: relative;
    border: 6px double rgb(61, 60, 60);
    cursor: pointer;
}

.change-password{
    padding: 10px;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px;
    cursor: pointer;
}
.passFormDiv{
    text-align: start;
    width: 70%;
    /* background-color: red; */
    margin: auto;
}
.submit, .cancel{
    width: fit-content;
    font-size: 16px;
}
.topic{
    font-size: 25px;
    color: black;
}

.head{
    color: black;
}