.teacherdash{
    display: flex;
    /* background-color: red; */
    width: 100%;
    min-height: fit-content;
    overflow-y: scroll;
    gap: 5px;
    overflow-x: hidden;
}

.teachercontent{
    width: 50%;
    /* background-color: #0000ff; */
    padding: 10px;
    margin: 5px;
    background-color: rgba(37, 37, 37, 0.211);
    border-radius: 10px;
}
.teachercontent > h1 {
    font-size: 3rem;
    color: whitesmoke;
}
.table {
    font-size: 1.5rem;
}

@media screen and (max-width : 768px ) {
    .teacherdash{
        flex-direction: column;
    }
    .teachercontent{
        width: 100%;
    }
}