table{
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}
thead{
    background-color: rgb(176, 176, 165);
}
thead,body, tr,th, td{
    border: 2px solid black;
}
h2{
    padding: 10px 0;
}
td> button{
    width: 100%;
    background: none;
    padding: 2px;
    border: none;
    cursor: pointer;
}

.add{
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(12, 132, 231);
    color:white;
    border: none;
}
.link{
    text-decoration: none;
    color: black;
}

textarea{
    resize: none;
    width: 100%;
}
.submit{
    cursor: pointer;
}

label {
    position: absolute;
    top: -15px;
    left: 0;
    transform: translateY(-50%);
    color: #000000;
    /* pointer-events: none; */
    transition: 0.3s ease-out;
  }

  label.focused {
    top: 0;
    font-size: 12px;
    color: #333;
  }
.selectBox{
    margin: auto;
    width: 100%;
    padding: 10px;
}
.input-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    position: relative;
    margin: 20px;
}
