.heading_edit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
table{
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
thead{
    background-color: rgba(224, 224, 221, 0.508);
    color: rgb(41, 39, 39);
}
.even{
    background-color: #3741569b;
    color: rgb(216, 203, 203);
}
.odd{
    background-color: #b33b3b8e;
    color: rgb(0, 0, 0);
}

h2{
    padding: 10px 0;
}
td> button{
    width: 100%;
    background: none;
    padding: 2px;
    border: none;
    cursor: pointer;
}


.link{
    text-decoration: none;
    color: black;
}
.add{
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(12, 132, 231);
    color:white;
    border: none;
}
textarea{
    resize: none;
    width: 100%;
}
.submit{
    cursor: pointer;
}

.input-container > label {
    position: absolute;
    top: -15px;
    left: 0;
    transform: translateY(-50%);
    color: #000000;
    /* pointer-events: none; */
    transition: 0.3s ease-out;
  }


.selectBox{
    margin: auto;
    width: 100%;
    padding: 10px;
}
.input-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    position: relative;
    margin: 20px;
}

.backmenu{
    /* background-color: red; */
    text-align: center;
    position: relative;
}
.back{
    position: absolute;
    left: 10%;
}